In [2]:
# where is it ?

import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import RepeatedKFold, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import TargetEncoder, StandardScaler
from sklearn.linear_model import Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import xgboost as xgb
from catboost import CatBoostRegressor

In [3]:
train_df_full = pd.read_csv('train.csv')#'/kaggle/input/playground-series-s4e9/train.csv')
test_df_full = pd.read_csv('test.csv')#'/kaggle/input/playground-series-s4e9/test.csv')

# Quick EDA

In [5]:
print(train_df_full.shape)
print(test_df_full.shape)

(58645, 13)
(39098, 12)

In [8]:
train_df_full.columns

Index(['id', 'person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_default_on_file',
       'cb_person_cred_hist_length', 'loan_status'],
      dtype='object')

In [9]:
df = train_df_full
df.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [10]:
[type(x) for x in df.iloc[1, :]]

[numpy.int64,
 numpy.int64,
 numpy.int64,
 str,
 numpy.float64,
 str,
 str,
 numpy.int64,
 numpy.float64,
 numpy.float64,
 str,
 numpy.int64,
 numpy.int64]

In [11]:
# corruption of the data, the nans 
df.isna().sum(axis=0)

id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64

In [12]:
print('unique values')
for col in df.columns:
    print(f'{col}: ', df[col].value_counts().shape[0])

unique values
id:  58645
person_age:  53
person_income:  2641
person_home_ownership:  4
person_emp_length:  36
loan_intent:  6
loan_grade:  7
loan_amnt:  545
loan_int_rate:  362
loan_percent_income:  61
cb_person_default_on_file:  2
cb_person_cred_hist_length:  29
loan_status:  2